@model System.Collections.Generic.List<MentorPickerWeb.Models.Mentor>
@{
    Layout=null;
    ViewData["Title"] = "Home Page";
}

<div>
    <table border="1">
        <thead>
            <tr>
                <th>Mentor</th>
                <th>Mentee(ler)</th>
            </tr>
        </thead>
        @foreach (var mentor in Model)
        {
        <tr>
            <td>@mentor.Name</td>
            <td>
                @foreach (var mentee in mentor.Mentees)
                {
                    <li>@mentee.Name</li>
                }
                </td>
</tr>}
        </table>
    <div>Kura çekiliş zamanı:@DateTime.Now</div>
</div>