@model System.Collections.Generic.List<MentorPickerWeb.Models.Mentor>
@{
    Layout=null;
    ViewData["Title"] = "Home Page";
}

<div>
    Mentors!
    @foreach (var mentor in Model)
    {<li>@mentor.Name</li>}
</div>